
.container {
  margin-top: 80px;
  max-width: 900px;
  padding: 0px;

}

.size{
  box-shadow: 0.7px 0.5px 10px  rgb(17, 26, 26);
}

.mytext{
  opacity: 0.95;
  font-weight: 100;
  color: rgb(228, 220, 220);
  background-color: rgb(14, 54, 14, 0.7);
  max-width: 900px;
  margin:5px 0 20px 0;
}

.patch {
  position: fixed;
	top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(136, 136, 204, 0.5);
  z-index: 4444;
}

.spinner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 47%;
  width: 40px;
  height: 40px;
  margin-right: -50%;
}

// .inner{
//   // background-color: red;
//   box-shadow: inset 2em -1em 2em black;
// }






