

nav {
  background-color: rgb(77, 3, 66);
  height: 45px;
}

.right {
  margin-right: 0.5rem
}

.myshadow {
  box-shadow: 2px 1px 10px  rgb(17, 26, 26);
}

.butn{
  height: 2.2rem;
  padding-top: 5px;
  margin-bottom: 0.5px;
}
