/* You can add global styles to this file, and also import other style files */

@import '~quill/dist/quill.snow.css';

.common {
  margin: 0;
  background: url(./assets/back_forblog.jpg) no-repeat center center fixed;
  background-size: cover;

}
